
body {
    width: 100%;
    height: 100%;
    background-color: white;
    color: #3b3b3b;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}


header {
	width: 100%;
	background-color: #4f7671;
	padding: 0.5em;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.2) 1px 2.5px 3px, rgba(0, 0, 0, 0.2) 1px 2.5px 3px;
}

.logo {
	padding: 0;
	margin: 0;
}

.logo-icon {
	margin: 0;
	padding: 0;
	max-width: 150px;
	max-height: 150px;


}

nav {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	padding: 0.5em 2em;
	margin: 3em 2em 0;
	border: 1.5px solid #E0E0E0;
	border-radius: 50px;
	color: #656260;
}

.prenav {
	display: flex;
	flex-direction: column;
	padding: 0.25em;
	margin: 2.5em 0 0;
}

.prenav p:first-child {
	font-weight: bold;
	font-size: 30px;
	color: #4f7671;
	margin-top: 1em;
	text-align: center;
}

.prenav p {
	margin: 2.5em 4em 0;
	line-height: 1.75em;
	font-size: 17px;
	color: #656260;
}


.prenav a {
	color: #4f7671;
}

a { 
    color: inherit;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
	color: #4f7671;
}
